.header-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo-pokeball {
    width: 60px;
    height: 60px;

}

.logo-text {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #ced1d3;
    top: 12px;
    background-color: #082129;
    box-shadow: 0px 3px 10px #082129;
}

.search-input {
    background-color: #dddedf;
    height: 30px;
    width: 200px;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
}

.footer-text {
    color: #5e6f7f;
    font-weight: 700;
}