.header-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo-pokeball {
    width: 60px;
    height: 60px;

}

.logo-text {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #ced1d3;
    top: 2px;
    background-color: #082129;
    box-shadow: 0px 5px 10px #082129;
}

.search-input {
    background-color: #dddedf;
    height: 30px;
    width: 200px;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
}

.footer-text {
    color: #5e6f7f;
    font-weight: 700;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 0px;
}

.poke-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 150px;
    background-color: #082129;
    border-radius: 15px;
}

.poke-card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.poke-card-img {
    height: 150px;
    width: 100%;
    background-color: #183a46;
}

.poke-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bg-green {
    background-color: #4caf50;
}

.bg-blue {
    background-color: #2196f3;
}

.poke-card-art {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    gap: 5px;
}

.poke-type-span {
    background-color: #2196f3;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
}

.load-more-btn {
    background-color: #183a46;
    color: #ced1d3;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0px;
}

.load-more-btn:hover {
    background-color: #2e6072;
    color: #ced1d3;
}

