.header-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo-pokeball {
    width: 60px;
    height: 60px;

}

.logo-text {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #ced1d3;
    top: 2px;
    background-color: #082129;
    box-shadow: 0px 5px 10px #082129;
}

.search-input {
    background-color: #dddedf;
    height: 30px;
    width: 200px;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
}

.footer-text {
    color: #5e6f7f;
    font-weight: 700;
}

.poke-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 150px;
    background-color: #082129;
    border-radius: 15px;
}

.poke-card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.poke-card-img {
    height: 150px;
    width: 100%;
    background-color: #183a46;
}

.poke-card-art {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}