.header-part-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-part-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-part-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logo-pokeball {
    width: 60px;
    height: 60px;

}

.logo-text {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #ced1d3;
    top: 2px;
    background-color: #082129;
    box-shadow: 0px 5px 10px #082129;
}

.search-input {
    background-color: #dddedf;
    height: 30px;
    width: 200px;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
}

.footer-text {
    color: #5e6f7f;
    font-weight: 700;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 0px;
}

.poke-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 150px;
    background-color: #082129;
    border-radius: 15px;
}

.poke-card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.poke-card-img {
    height: 150px;
    width: 100%;
    background-color: #183a46;
}

.poke-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bg-green {
    background-color: #4caf50;
}

.bg-blue {
    background-color: #2196f3;
}

.poke-card-art {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    gap: 5px;
}

.poke-type-span {
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

.load-more-btn {
    background-color: #183a46;
    color: #ced1d3;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0px;
}

.load-more-btn:hover {
    background-color: #2e6072;
    color: #ced1d3;
}

dialog {
    opacity: 0.5;
    background-color: #273140;
    width: 70vw;
    max-height: 95%;
    padding: 6px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #273140;
    outline: none;
}

dialog.opened {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: all 0.3s ease-in;
}

dialog::backdrop {
    background-color: rgb(15, 19, 30, 0.6);
}

@media screen and (max-width: 670px) {
    .header-part-left {
        display: none;
    }

    .header-part-middle {
        margin-left: 20px;
    }

    .header-part-right {
        margin-right: 20px;
    }

    .search-input {
        width: 170px;
    }
}

@media screen and (max-width: 390px) {
    .container-header {
        flex-direction: column;
        height: 200px;
    }

    .header-part-middle {
        margin: 30px 0px 20px 0px;
    }

    .header-part-right {
        margin: 0px 0px 30px 0px;
    }

}