@font-face {
    font-family: "Rubik";
    font-weight: 300;
    font-display: swap;
    src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Rubik_bold";
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/Rubik-ExtraBold.ttf);
}