.bg-Grass {
    background-color: #4caf50;
}

.bg-Water {
    background-color: #2196f3;
}

.bg-Fire {
    background-color: #ff9800;
}

.bg-Bug {
    background-color: #8bc34a;
}

.bg-Normal {
    background-color: #b0af9c;
}

.bg-Electric {
    background-color: #ffeb3b;
}

.bg-Poison {
    background-color: #9c27b0;
}

.bg-Flying {
    background-color: #03a9f4;
}

.bg-Fairy {
    background-color: #f8bbd0;
}

.bg-Psychic {
    background-color: #f44336;
}

.bg-Rock {
    background-color: #795548;
}

.bg-Ghost {
    background-color: #673ab7;
}

.bg-Ice {
    background-color: #00bcd4;
}

.bg-Dragon {
    background-color: #3f51b5;
}

.bg-Dark {
    background-color: #212121;
}

.bg-Steel {
    background-color: #607d8b;
}

.bg-Fighting {
    background-color: #ff5722;
}

.bg-Ground {
    background-color: #795548;
}

.details-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}