.bg-grass {
    background-color: #4caf50;
}

.bg-water {
    background-color: #2196f3;
}

.bg-fire {
    background-color: #ff9800;
}

.bg-bug {
    background-color: #8bc34a;
}

.bg-normal {
    background-color: #9e9e9e;
}

.bg-electric {
    background-color: #ffeb3b;
}

.bg-poison {
    background-color: #9c27b0;
}

.bg-flying {
    background-color: #03a9f4;
}

.bg-fairy {
    background-color: #e91e63;
}

.bg-psychic {
    background-color: #f44336;
}

.bg-rock {
    background-color: #795548;
}

.bg-ghost {
    background-color: #673ab7;
}

.bg-ice {
    background-color: #00bcd4;
}

.bg-dragon {
    background-color: #3f51b5;
}

.bg-dark {
    background-color: #212121;
}

.bg-steel {
    background-color: #607d8b;
}.bg-grass {
    background-color: #4caf50;
}

.bg-water {
    background-color: #2196f3;
}

.bg-fire {
    background-color: #ff9800;
}

.bg-bug {
    background-color: #8bc34a;
}

.bg-normal {
    background-color: #9e9e9e;
}

.bg-electric {
    background-color: #ffeb3b;
}

.bg-poison {
    background-color: #9c27b0;
}

.bg-flying {
    background-color: #03a9f4;
}

.bg-fairy {
    background-color: #e91e63;
}

.bg-psychic {
    background-color: #f44336;
}

.bg-rock {
    background-color: #795548;
}

.bg-ghost {
    background-color: #673ab7;
}

.bg-ice {
    background-color: #00bcd4;
}

.bg-dragon {
    background-color: #3f51b5;
}

.bg-dark {
    background-color: #212121;
}

.bg-steel {
    background-color: #607d8b;
}